.header {
    position: fixed;
    z-index: 50;
    top: 0;
    right: 0;
    width: 100%;
    background-color: var(--primary-theme-color);
    border-bottom: 0.125rem solid var(--reverse-primary-shadow-color) ;
}

.nav {
    padding: 1rem 0;
}

.nav__logo {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.footer {
    border-top: 0.125rem solid var(--reverse-primary-shadow-color);
}

.footer__title {
    position: relative;
    font-size: 0.75rem;
    margin: 0;
}

.footer__title::before {
    content: '';
    position: absolute;
    top: -0.75rem;
    left: 0;
    width: 100%;
    height: 0.125rem;
    background-color: var(--reverse-primary-shadow-color);
}

.footer__link {
    color: var(--primary-highlight-color);
    text-decoration: none;
}

@media (min-width: 756px) {
    .footer__title {
        font-size: 0.875rem;
    }
}