.card{
    box-shadow: 0 0 0.125rem 0.125rem var(--primary-highlight-color);
    box-sizing: border-box;
    border-radius: 1rem;
    overflow: hidden;
    max-width: 320px;
    margin: 0 auto; 
    transition: box-shadow 0.25s; 

    @include desktop {
        max-width: 512px;
    }

    &:hover {
        box-shadow: 
        0 0 0.0625rem 0.0625rem var(--secondary-highlight-color),
        0 0 0.125rem 0.125rem var(--secondary-highlight-color);
    
    }
    &__header {
        background-color: var(--primary-shadow-color);  
        padding: 1rem;
        text-align: center;
    }
    
    &__header-img {
        background-color: var(--primary-shadow-color);
        border-radius: 50%;
        width: min(100%, 256px);
        height: 256px;
        object-fit: cover;
    }
    
    &__body {
        @include d-flex-fd-ai-jc-g(column, stretch, flex-start,0.5rem);
        background-color: var(--secondary-theme-color);
        padding: 1rem;
    }
    
    &__title {
        font-size: 1.5rem;
        text-align: center;
        text-shadow:
        0 0 0 0.0625rem var(--primary-highlight-color)
        0 0 0 0.125rem var(--secondary-highlight-color) ;
        margin: 0;

        &:hover {
            color: var(--secondary-highlight-color);
        
        }
    
        @include desktop {
            font-size: 1.75rem;
        }
    }
    

    
    &__subtitle {
        font-size: 1.25rem;
        text-align: center;
        margin: 0;

        @include desktop {
            font-size: 1.5rem;
        }
    }
    
    &__text {
        font-size: 0.875rem;
        text-align: center;
        margin: 0;

        &::before {
            content: '❤';
        }
        
        &::after {
            content: '❤';
        }
        
        &:hover::before,
        &:hover::after {
            color: red;
        }

        @include desktop{
            font-size: 1.25rem;
        }

    }
    
    &__footer {
        background-color: var(--primary-theme-color);
        padding: 1rem;
    }
}