.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .form__input {
    background-color: transparent;
    border: none;
    box-shadow: 0 0 0.125rem 0 var(--primary-highlight-color);
    border-radius: 0.25rem;
    color: var(--primary-text-color);
    font-size: 0.875rem;
    padding: 0.5em;
    transition: box-shadow 0.25s;
  }
  
  .form__input:focus:invalid {
    box-shadow:
      0 0 0.25rem 0 var(--primary-invalid-color),
      0 0 0.5rem 0 var(--primary-invalid-color);
  }
  
  .form__input::placeholder {
    color: var(--secondary-text-color);
  }
  
  @media (min-width: 768px) {
    .form__input {
      font-size: 1rem;
      padding: 0.75em;
    }
  }