.header {
    position: fixed;
    z-index: 25;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-shadow-color);
  }
  
  .nav {
    padding: 1rem 0;
  }
  
  .nav__link-logo {
    display: block;
    width: 108px;
    height: 32px;
  }
  
  .footer__title {
    position: relative;
    font-size: 0.75rem;
    margin: 0;
  }
  
  .footer__title::before {
    content: '';
    position: absolute;
    top: -0.5rem;
    left: 0;
    background-color: var(--reverse-primary-shadow-color);
    width: 100%;
    height: 0.0625rem;
  }
  
  .footer__link {
    color: var(--primary-highlight-color);
    text-decoration: none;
  }
  
  @media (min-width: 768px) {
    .footer__title {
      font-size: 0.875rem;
    }
  }