.card{
    @include d-flex-fd-ai-jc-g(column,flex-start);
    gap: 1rem;
    max-width: 400px;
    
    &__title{
        font-size: 2rem;
        font-weight: 900;
        margin: 0;
    }

    &__text{
        margin: 0;
    }
}

@media(min-width: 768px){
    .card{
        max-width: 768px;
    }
}