.section{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    box-sizing: border-box;

    &--hero{
        position: relative;
        @include d-flex-fd-ai-jc-g(row,center);
        background-image: var(--mobile-image);
        background-size: cover;
        background-position: center;
        min-height: 75vh;
        background-color: var(--secondary-shadow-color);

        &::before{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: var(--reverse-secondary-shadow-color);
            pointer-events: none;
        }

        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.5rem;
            background-image: linear-gradient(transparent, var(--primary-theme-color));
            // pointer-events: none;
        }
    }
}

@media (min-width: 768px){
    .section{
        &--hero{
            background-image: var(--desktop-image);
        }
    }
}
.container{
    max-width: var(--max-width-container);
    margin: 0 auto;
    padding-left: var(--padding-container);
    padding-right: var(--padding-container);

    &--hero{
        z-index: 5;
        max-width: 100%;
        padding-left: calc(var(--padding-container) * 2.5);
        padding-right: calc(var(--padding-container) * 2.5);
    }
}

.elements{
    @include d-flex-fd-ai-jc-g;

    &--header-nav{
        align-items: center;
        justify-content: space-between;
    }

}