.container{
    max-width: var(--max-width-container);
    margin: 0 auto;
    padding-left: var(--padding-container);
    padding-right: var(--padding-container);
}

.elements{
    display: flex;
    align-items: center;
    justify-content: space-between;
}