.nav{
    --padding-nav: 1.5rem;
    padding-top: var(--padding-nav);
    padding-bottom: var(--padding-nav);

    &__logo{
        display: block;
        width: 40px;
        height: 40px;
        object-fit: cover;
    }
}