.container{
    max-width: var(--max-widht-container);
    margin: 0 auto;
    padding-left: var(--padding-container);
    padding-right: var(--padding-container);

    &--header-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}