.section {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    box-sizing: border-box;

    &--hero{
        position: relative;
        background-color: var(--primary-shadow-color);
        background-size: cover;
        background-position: center;
        height: 100vh;

        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--reverse-primary-shadow-color);
        }
    }

    &__title{
        color: var(--primary-highlight-color);
        text-shadow: 
            0 0 0.125rem var(--primary-highlight-color),
            0 0 0.25rem var(--primary-highlight-color);
        font-weight: 800;
        font-size: 1.75rem,;
        text-align: center;
        margin: 0;
        @include desktop() {
            font-size: 2rem;
        }
    }
}

.container{
    max-width: var(--max-width-container);
    margin: 0 auto;
    padding-left: var(--padding-container);
    padding-right: var(--padding-container);

    &--header-nav{
        @include d-flex-fd-ai-jc-g(row,center,space-between);
    }
}

.elements {
    @include d-flex-fd-ai-jc-g(column,stretch,flex-start,var(--padding-section));
    width: 100%;

    &--header-nav{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 0;
    }
}