.card {
    border: 0.0625rem solid var(--primary-highlight-color);
    box-sizing: border-box;
    border-radius: var(--primary-border-radius);
    overflow: hidden;
    max-width: 320px;
    margin: 0 auto;
  }
  
  .card__header {
    background-color: var(--primary-shadow-color);
    padding: 0.5rem 1rem;
  }
  
  .card__title {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
  }
  
  .card__body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--secondary-shadow-color);
    padding: 1rem;
  }
  
  .card__subtitle {
    font-size: 1.25rem;
    text-align: center;
    margin: 0;
  }
  
  .card__text {
    font-size: 1rem;
    text-align: center;
    margin: 0;
  }
  
  .card__footer {
    background-color: var(--primary-shadow-color);
    padding: 0.5rem 1rem;
    text-align: center;
  }