.section {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}

.section--hero {
    padding-top: calc(5rem + var(--padding-section));
}

.section--profile {
    background-image: url(../../img/software-developer-6521720_1920.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    max-width: var(--max-width-container);
    margin: 0 auto;
    padding-left: var(--padding-container);
    padding-right: var(--padding-container);
}

.container--nav-r {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

