.container {
    max-width: var(--max-width-container);
    margin: 0 auto;
    padding: var(--padding-container);
}

.container--nav-r {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}