.body {
    background-color: var(--primary-theme-color);
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    margin: 0;
}

@media (min-width: 768px) {
    :root {
      --padding-section: 2rem;
      --padding-container:  0.75rem;
      --max-width-container: 1024px;
    }
  }

