.hero-img {
    z-index: 5;
    position: relative;
  
    &__img {
      display: block;
      background-color: var(--reverse-primary-shadow-color);
      border-radius: 50%;
      width: 256px;
      height: 256px;
  
      @include desktop() {
        width: 320px;
        height: 320px;
      }
    }
  
    &__decorators {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0;
      animation: spin 10s linear 0s infinite normal;
    }
  
    &__decorator {
      position: absolute;
      width: 64px;
      height: 64px;
  
      @include desktop() {
        width: 80px;
        height: 80px;
      }
  
      &:nth-child(1) {
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
      }
  
      &:nth-child(2) {
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%) rotate(90deg);
      }
  
      &:nth-child(3) {
        top: 50%;
        left: 100%;
        transform: translate(-50%, -50%) rotate(-90deg);
      }
  
      &:nth-child(4) {
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }
  }