:root {
    --primary-theme-color: #20232abd;
    --secondary-theme-color: #282c34c2;
    --primary-text-color: #fff;
    --primary-highlight-color: #61dafb;
    --secondary-highlight-color: #ffd900;
    --primary-shadow-color: #20232abd;
}
