.section {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}

.section--hero{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    box-sizing: border-box;
    min-height: 100vh;
}

.section__link{
    color: var(--primary-text-color);
    text-decoration: none;
    animation: zoom 1s ease-in-out 0s infinite alternate;
}

.section__link--hero {
    display: flex;
    gap: 0.25rem;
    color: var(--primary-text-color);
    font-weight: 800;
    font-size: 4rem;
    text-decoration: none;
}

.section__link-letter {
    position: relative;
    transition: filter 0.25s;
}

.section__link-letter:hover {
    filter: brightness(2.5);
}

.section__link-letter:nth-child(1){
    color: var(--letter-color-1);
}

.section__link-letter:nth-child(2){
    color: var(--letter-color-2);
}

.section__link-letter:nth-child(3){
    color: var(--letter-color-3);
}

.section__link-letter:nth-child(4){
    color: var(--letter-color-4);
}

.section__link-letter:nth-child(5){
    color: var(--letter-color-5);
}

.section__link-letter:nth-child(6){
    color: var(--letter-color-6);
}

.section__link-letter:nth-child(7){
    color: var(--letter-color-7);
}

.section__link-letter::before {
    content: var(--letter);
    position: absolute;
    top: 87.5%;
    left: 0;
    filter: blur(0.125rem);
    transform: rotateX(137.5deg);
}

.section__link-letter::after {
    content: var(--letter);
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1.125);
    filter: blur(0.25rem);
    /* transform: rotateX(137.5deg); */
}

.section__stanza{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
}
.section__verse{
    font-weight: 600;
    text-shadow: 
    0 0 0.0625rem var(--primary-highlight-color),
    0 0 0.125rem var(--primary-highlight-color),
    0 0 0.25rem var(--primary-highlight-color);
}

.section__verse::first-letter{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--letter-color-4);
}

.container {
    max-width: var(--max-widht-container);
    margin: 0 auto;
    padding-left: var(--padding-container);
    padding-right: var(--padding-container);
}

@media (min-width: 768px) {
    .section__link--hero {
        font-size: 6rem;
    }

    .section__verse {
        font-size: 1.5rem;
    }

    .section__verse::first-letter {
        font-size: 2rem
    }
    
}