:root {
    scroll-behavior: smooth;
    --primary-theme-color: #20232abd;
    --secondary-theme-color: #282c34c2;
    --primary-text-color: #fff;
    --primary-highlight-color: #61dafb;
    --secondary-highlight-color: #ffd900;
    --primary-shadow-color: #20232abd;
}

.body {
    background-color: var(--primary-theme-color);
    color: var(--primary-text-color);
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

.hero {
    display: flex;
    align-items: center;
    background-image: url('../img/software-developer-6521720_1920.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;     
}

.card {
    border: 0.125rem solid var(--primary-highlight-color);
    box-sizing: border-box;
    border-radius: 1rem;
    overflow: hidden;
    max-width: 320px;
    margin: 0 auto;  
}

.card__header {
    background-color: var(--primary-shadow-color);  
    padding: 1rem;
    text-align: center;
}

.card__header-img {
    background-color: var(--primary-shadow-color);
    border-radius: 50%;
    width: min(100%, 256px);
    height: 256px;
    object-fit: cover;
}

.card__body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--secondary-theme-color);
    padding: 1rem;
}

.card__title {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

.card__subtitle {
    font-size: 1.25rem;
    text-align: center;
    margin: 0;
}

.card__text {
    font-size: 0.875rem;
    text-align: center;
    margin: 0;
}

.card__text::before {
    content: '❤';
}

.card__text::after {
    content: '❤';
}
.card__footer {
    background-color: var(--primary-theme-color);
    padding: 1rem;
}

.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu__link {
    display: flex;
    color: var(--primary-text-color);
    font-size: 1.75rem;
}

.menu__link:hover {
    transform: scale(1.25);
}

@media (min-width: 768px){
    .card {
        max-width: 512px;
    }

    .card__title {
        font-size: 1.75rem;
    }

    .card__subtitle {
        font-size: 1.5rem;
    }

    .card__text {
        font-size: 1.25rem;
    }

    .menu__link {
        font-size: 2rem;
    }
    

}